<div class="section">
  <h1>Utkarsh Aman</h1>
  <mat-card class="info-card">
    <mat-card-content>
      <p>Highly skilled Front-End Engineer with a passion for technology and the future of work. Experienced in developing robust and scalable
        applications, integrating frontend and backend systems, and optimizing user experiences.</p>
    </mat-card-content>
  </mat-card>
  
  <div class="mainContainer">
    <mat-toolbar color="primary">
        <span class="spacer"></span>
        <span><mat-icon>tag</mat-icon> 8891305</span>
        <span class="spacer"></span>
        <span><mat-icon>mail</mat-icon> uaman1305@conestogac.on.ca</span>
        <span class="spacer"></span>
        <span><mat-icon>smartphone</mat-icon> +1 (437) 559-7469</span>
        <span class="spacer"></span>
        <span><mat-icon>home_pin</mat-icon> Kitchener</span>
        <span class="spacer"></span>
        <span><mat-icon>card_travel</mat-icon> linkedin.com/in/utkarshaman</span>
        <span class="spacer"></span>
      </mat-toolbar>
  </div>
</div>