<div class="section">
  <h1>Work Experience</h1>
        <mat-card>
            <mat-card-header>
              <mat-card-title>
                <div class="experienceTitle">Senior Analyst</div>
                <div class="companyInfo">Deloitte US-India  <span class="duration">(May 2021 - April 2023)</span></div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle>
                <mat-icon class="sub-icon">chevron_right</mat-icon>
                <span class="description">
                  Transforming the digital presence, capability & strategy with a customercentric
                  web design approach across the 6 brands acquired by the largest
                  electric parent company in the USA.
                </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Worked with multiple clients in an agile team and helped in prioritizing the
                scope feature requests to ensure that the highest impacted features deliver
                end-to-end project such as Product web app, website support solution.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Streamlined, user-friendly interface & solution with design team to increase
                customer enrollment in subscription-based services which results in 71%
                growth.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Mentored junior resources within the team on Angular and documented some
                best practices to be followed within the project which significantly reduced
                the number of defects.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Worked extensively in customizing the salesforce platform from basic design
                of PDP, PLP, Cart, Checkout, Customer, and Order modules to advanced
                implementations including custom catalog creation jobs.
              </span>
            </mat-card-subtitle>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <div class="experienceTitle">Analyst</div>
                <div class="companyInfo">Deloitte US-India  <span class="duration">(August 2018 - May 2021)</span></div>
              </mat-card-title>
            </mat-card-header>
               <mat-card-content>
              <mat-card-subtitle>
                <mat-icon class="sub-icon">chevron_right</mat-icon>
                <span class="description">
                  Transforming the digital presence, capability & strategy with a customercentric
                  web design approach across the 6 brands acquired by the largest
                  electric parent company in the USA.
                </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Worked with multiple clients in an agile team and helped in prioritizing the
                scope feature requests to ensure that the highest impacted features deliver
                end-to-end project such as Product web app, website support solution.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Streamlined, user-friendly interface & solution with design team to increase
                customer enrollment in subscription-based services which results in 71%
                growth.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Mentored junior resources within the team on Angular and documented some
                best practices to be followed within the project which significantly reduced
                the number of defects.
              </span>
            </mat-card-subtitle>
            <mat-card-subtitle><mat-icon class="sub-icon">chevron_right</mat-icon>
              <span class="description">
                Worked extensively in customizing the salesforce platform from basic design
                of PDP, PLP, Cart, Checkout, Customer, and Order modules to advanced
                implementations including custom catalog creation jobs.
              </span>
            </mat-card-subtitle>
            </mat-card-content>
          </mat-card>
</div>