<div class="section">
  <h1>Skills</h1>
    <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-listbox aria-label="skills">
                <mat-chip color="primary" selected >HTML5</mat-chip>
                <mat-chip>CSS3</mat-chip>
                <mat-chip>Angular 14</mat-chip>
                <mat-chip>javaScript</mat-chip>
                <mat-chip>Bootstrap</mat-chip>
                <mat-chip>UI/UX</mat-chip>
                <mat-chip>jQuery</mat-chip>
                <mat-chip>JAVA</mat-chip>
                <mat-chip>.net</mat-chip>
                <mat-chip>React</mat-chip>
                <mat-chip>Handlebars.js</mat-chip>
                <mat-chip>Salesforce</mat-chip>
                <mat-chip>D3.js</mat-chip>
                <mat-chip>DBMS</mat-chip>
                <mat-chip>MS SQL</mat-chip>
                <mat-chip>Adobe XD</mat-chip>
                <mat-chip>AJAX</mat-chip>
                <mat-chip>Backbone.js</mat-chip>
                <mat-chip>Object-Oriented Programming (OOP)</mat-chip>
                <mat-chip>SCSS</mat-chip>
                <mat-chip>Data Analysis</mat-chip>
                <mat-chip>Data Analytics</mat-chip>
                <mat-chip>Project Management</mat-chip>
                <mat-chip>LESS</mat-chip>
                <mat-chip>Vue.js</mat-chip>
                <mat-chip>git</mat-chip>
                <mat-chip>Jenkins</mat-chip>
                <mat-chip>CI/CD</mat-chip>
                <mat-chip>Cypress</mat-chip>
                <mat-chip>iOS Development</mat-chip>
                <mat-chip>Android Development</mat-chip>
                <mat-chip>AWS</mat-chip>
                <mat-chip>Cloudcraze</mat-chip>
                <mat-chip>node js</mat-chip>
                <mat-chip>Azure</mat-chip>
                <mat-chip>Responsive Designing</mat-chip>
                <mat-chip>SAM</mat-chip>
                <mat-chip>Automation Testing</mat-chip>
                <mat-chip>Web Development</mat-chip>
              </mat-chip-listbox>
        </mat-card-content>
    </mat-card>
</div>