<h1>Personal Life</h1>
<section>
    <div class="row personalLifeContent">
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Travel</mat-card-title>
                  <mat-card-subtitle>Thailand</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/image/PersonalImag1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    I have an innate love for solo travel and a deep passion for adventurous experiences. 
                    Exploring new destinations on my own allows me to challenge myself, discover hidden gems, and embrace the thrill of the unknown.
                    From hiking through breathtaking landscapes to immersing myself in vibrant cultures, I find pure joy in these exhilarating solo adventures.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-3">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Gaming</mat-card-title>
                  <mat-card-subtitle>youtube</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/image/PersonalImag2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Creating and sharing YouTube videos brings me immense joy.
                    I love the creative process, capturing exciting moments, and connecting with a global audience through my content, fostering a sense of community and inspiration.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <a href="https://www.youtube.com/watch?v=hP8A6RVC3kg"><button mat-button>Watch</button></a>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>India</mat-card-title>
                  <mat-card-subtitle>Patna</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/image/PersonalImage3.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    India, my beloved homeland, is a land of rich heritage, vibrant traditions, and diverse cultures. From the majestic Himalayas to the serene backwaters of Kerala, India's beauty knows no bounds.
                    I am proud to call India my home, where unity in diversity flourishes and the spirit of resilience thrives.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Max</mat-card-title>
                  <mat-card-subtitle>German Shepherd</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/image/PersonalImage4.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Max, my loyal and beloved German Shepherd, holds a special place in my heart. His unwavering loyalty, intelligence, and playful nature bring immense joy to my life. 
                    Whether we're going for long walks, playing fetch, or simply cuddling, the bond we share is a testament to the incredible love and companionship that dogs bring into our lives.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
            </div>
    </div>
      
</section>