.educationCard1 {
    max-width: 400px;
}
.educationImage1 {
    height: 44px;
    width: 48px;
}
.section {
    display: flex;
}
.educationCard1,.educationCard2 {
    margin-right: 10px;
    max-width: 50%;
}