<h1>EDUCATION</h1>
  <div class="section">
    <mat-card class="educationCard2">
        <mat-card-header>
          <div mat-card-avatar class="educationCardImage">
            <img class="educationImage1" src="../../../assets/image/Education_Imag2.png" alt="GGSIPU">
          </div>
          <mat-card-title>Conestoga College</mat-card-title>
          <mat-card-subtitle>Mobile Solution Development</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Mobile Solutions Development program at Conestoga College is a comprehensive undergraduate program that prepares students for success in the ever-evolving field of mobile application development.
            Through a combination of theoretical knowledge and practical experience, students learn to design and develop mobile applications for various platforms, focusing on user-friendly interfaces and emerging technologies.
          </p>
        </mat-card-content>
      </mat-card>
    <mat-card class="educationCard1">
        <mat-card-header>
          <div mat-card-avatar class="educationCardImage">
            <img class="educationImage1" src="../../../assets/image/Education_Imag1.png" alt="GGSIPU">
          </div>
          <mat-card-title>GGSIPU</mat-card-title>
          <mat-card-subtitle>Bachleor's of Computer Application</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Bachelor's of Computer Application (BCA) degree from Indraprastha University in New Delhi is a rigorous undergraduate program that combines theoretical knowledge and practical skills in computer science and applications.
            Students gain a deep understanding of programming languages, software development, database management systems, and more.
          </p>
        </mat-card-content>
      </mat-card>
  </div>